<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.somehow.mysite.dao.mapper.CommentMapper">

    <select id="pageCommentResults"
            resultType="io.github.somehow.mysite.dto.resp.comment.CommentPageQueryRespDTO">
        SELECT
        c.id AS commentId,
        c.content AS content,
        c.user_id AS userId,
        c.parent_id AS parentId,
        c.article_id AS articleId,
        u.username AS username,
        FROM t_comment c
        LEFT JOIN t_user u ON c.user_id = u.id
        WHERE
        c.del_flag = 0
        <if test="articleId != null">
            AND c.article_id = #{articleId}
        </if>
        ORDER BY c.create_time DESC
    </select>
</mapper>