<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.somehow.mysite.dao.mapper.UserFollowMapper">
    <!-- 通过 MySQL 悲观行记录锁确保库存不会被多扣，并采用上层业务自旋重试直至成功将关注数量和粉丝数量扣减至零 -->
    <update id="decrementFollowCount">
        UPDATE t_user
        SET
            following_count = CASE
                  WHEN id = #{followerId} AND following_count >= #{decrementNum}
                    THEN following_count - #{decrementNum}
                    ELSE following_count
            END,
            follower_count = CASE
                 WHEN id = #{followeeId} AND follower_count >= #{decrementNum}
                     THEN follower_count - #{decrementNum}
                 ELSE follower_count
            END
        WHERE id IN (#{followerId}, #{followeeId})
            AND del_flag = 0
    </update>

    <update id="incrementFollowCount">
        UPDATE t_user
        SET
            following_count = CASE
                WHEN id = #{followerId}
                    THEN following_count + #{incrementNum}
                    ELSE following_count
            END,
            follower_count = CASE
                WHEN id = #{followeeId}
                    THEN follower_count + #{incrementNum}
                    ELSE follower_count
            END
        WHERE id IN (#{followerId}, #{followeeId})
            AND del_flag = 0
    </update>

</mapper>